include README.md
include LICENSE
recursive-include vnlp *.md
recursive-include vnlp *.py
recursive-include vnlp *.pickle
recursive-include vnlp *.txt
recursive-include vnlp *.aff
recursive-include vnlp *.dic
recursive-include vnlp *.model