include README.md
recursive-include vnlp *.md
recursive-include vnlp *.py
recursive-include vnlp *.pickle
recursive-include vnlp *.hdf5
recursive-include vnlp *.txt
recursive-include vnlp *.aff
recursive-include vnlp *.dic